@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

h1 {
   display: block;
}

header {
    font-family: var(--fonte3);
    background-color: black;
    min-width: 150px;
    text-align: center;
    padding-top: 40px;
    
}
header h1 {
    font-weight: bold;
    color: white;
    font-weight: bold;
}

header p {
    color: white;
    padding-bottom: 15px;

}

section.normal {
    padding: 70.400px 20px 30px 40px;
}